@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <style>
        button {
            color: red;
            background-color: transparent;
            padding: 5px 15px 5px 15px;
            border-color: red;
            border-radius: 8px;
            margin-top: 10px
        }

        button:hover {
            color: turquoise;
            background-color: transparent;
            border-color: turquoise;
        }
    </style>
    <h1 class="display-4">Welcome to Calculator 1.0</h1>
    <p>Add, subtract, divide or multiply numbers!</p>
    @* <p>@Model.msg</p> *@
    <form method="post">
        <input type="text" id="X" name="X"/>
        <input type="text" id="Y" name="Y"/>
        <br>
        <button asp-page-handler="Add"> + </button>
        <button asp-page-handler="Delete"> - </button>
        <button asp-page-handler="Multiply"> / </button>
        <button asp-page-handler="Divide"> * </button>
        <br><br><br>
    </form>
    <h3>@Model.msg</p>
    @* <a href="/">Get</a> *@
</div>
