@import url('profile.css');

.aboutContainer {
    margin: 25vh auto;
    width: 60%;
    padding: 50px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.065);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 25px rgba(0, 102, 152, 0.35);
    color: white;
    font-family: "OpenSans", sans-serif;
    text-align: center;
}

.aboutContainer h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
    text-shadow: 0px 0px 20px rgba(84, 218, 255, 0.6);
    letter-spacing: 1px;
}

.aboutContainer p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.92);
    max-width: 80%;
    margin: 0 auto;
}
