@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/coolvetica-rg.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url(../assets/fonts/open-sans.ttf) format("woff2");
}

html, body, div, p, ul {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 25px;
    padding: 18px 35px;
    border-radius: 16px;
    
    border: solid 1px rgba(54, 165, 255, 0.058);
    background: rgba(54, 165, 255, 0.135);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 35px rgba(0, 102, 152, 0.341);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "OpenSans";
}
.navbar a:hover {
    text-decoration: underline;
}

.navigation {
    /* border: solid; */
    display: flex;
    gap: 50px;
    list-style: none;
}

.iconLogo {
    width: 5%;
    height: auto;
    /* border: solid; */
}

.iconProfile {
    width: 1.4vw;
    height: auto;
}

.profile {
    /* border: solid; */
    display: flex;
    align-items: center;
}

.profile img {
    margin-right: 0.8vw;
}

.moto {
    color: white;
    text-shadow: 0px 0px 35px rgba(84, 218, 255, 0.81);
    font-size: 8vw;
    font-family: 'Inter';
    letter-spacing: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

footer a {
    color: white;
    background-color: black;
}
