/* body {
  padding: 0px;
  margin: 0px;
} */

.nav {
  background: #333;
  color: white;
  padding: 10px;
}

.header {
  background: lightgray;
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
}

.content {
  padding: 20px;
}

.block {
  display: block;
  background: #ddd;
  margin: 5px 0;
}

.inline {
  display: inline;
  background: #ccc;
  padding: 2px;
}

.inline-box {
  display: inline-block;
  background: #bbb;
  width: 100px;
  text-align: center;
  margin: 5px 0;
}

.hidden-display {
  display: none;
}

.hidden-space {
  visibility: hidden;
}

.box {
  position: relative;
  background: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
}

.abs {
  position: absolute;
  /* top: 10px; */
  bottom: 10px;
  right: 0px;
  background: orange;
  padding: 5px;
}

.top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #333;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}
