body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #4facfe;
  color: white;
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 2px solid #ddd;
}

.intro {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.card {
  background-color: #e6f0ff;
  padding: 20px;
  border: 1px solid #ff0088;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  /* flex-grow
     flex-shrink
     flex-basis
  */
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #4facfe;
  color: white;
  margin-top: 20px;
}
