@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1.display-4 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">
        <img src="~/images/ToDoApp.png" alt="Todo Icon" style="width: 40px; height: 40px; margin-right: 10px; vertical-align: middle;">
        To-Do App
    </h1>
    <p>Add a task now!<br><a href="/Task/Create">Add Task</a></p>
</div>
